<div class="container mt-5 shadow-sm p-4 bg-white rounded">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-secondary m-0">Asignacion de Películas</h2>
    <div class="d-flex gap-2">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control border-start-0" placeholder="Buscar película..." #busq (keyup)="search(busq)">
      </div>
      <button class="btn btn-primary d-flex align-items-center gap-2" (click)="openModal()">
        <i class="bi bi-plus-circle"></i> Nuevo
      </button>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle border-top">
      <thead class="table-light">
        <tr>
          <th scope="col" class="py-3 text-muted">PELICULA</th>
          <th scope="col" class="py-3 text-muted">SALA</th>
          <th scope="col" class="py-3 text-muted">FECHA PUBLICACION</th>
          <th scope="col" class="py-3 text-muted">FECHA FIN</th>
          <th scope="col" class="py-3 text-muted">ACTIVE</th>

          <th scope="col" class="py-3 text-muted text-end">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        @for (pelisala of peliSala() ; track $index) {
          <tr>
            <td class="fw-semibold text-dark">{{loadPeliName(pelisala.id_pelicula)}}</td>

            <td class="fw-semibold text-dark">{{loadSalaName(pelisala.id_sala)}}</td>

            <td>{{pelisala.fecha_publicacion}}</td>

            <td>
              {{pelisala.fecha_fin}}
            </td>
            <td>
              @if (pelisala.active) {
                <span class="badge bg-success-subtle text-success border border-success-subtle px-3">Activa</span>
              } @else {
                <span class="badge bg-danger-subtle text-danger border border-danger-subtle px-3">Inactiva</span>
              }
            </td>



            <td class="text-end">
              <button (click)="editModal(pelisala)" class="btn btn-sm btn-outline-primary me-2" title="Editar">
                <i class="bi bi-pencil"></i>
              </button>
              <button (click)="desactivateSala(pelisala)" class="btn btn-sm btn-outline-danger" title="Eliminar">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</div>

<div class="modal fade" id="movieModal" tabindex="-1" #peliSalaModalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ editingId ? 'Editar Asignación' : 'Asignar Película' }}
        </h5>
        <button type="button" class="btn-close" (click)="modalRef.hide()"></button>
      </div>

      <form [formGroup]="formPeliSala">
        <div class="modal-body">

          <div class="mb-3">
            <label class="form-label">Película</label>
            <select class="form-select" formControlName="id_pelicula">
              <option value="">Seleccione una película...</option>
              @for (peli of peliculas(); track $index) {
                <option [value]="peli.id">{{ peli.nombre }}</option>
              }
            </select>
                <span class="error">
         @if(id_pelicula?.invalid &&(id_pelicula?.dirty || id_pelicula?.touched)){
                @if(id_pelicula?.errors?.['required']){
                  Pelicula requerida
                }
              }
       </span>
          </div>

            <div class="mb-3">
            <label class="form-label">Salas</label>
            <select class="form-select" formControlName="id_sala">
              <option value="">Seleccione una sala...</option>
              @for (sala of salas(); track $index) {
                <option [value]="sala.id">{{ sala.nombre }}</option>
              }
            </select>
            <span class="error">
         @if(id_sala?.invalid &&(id_sala?.dirty || id_sala?.touched)){
                @if(id_sala?.errors?.['required']){
                  Sala requerida
                }
              }
       </span>

          </div>

            <div class="mb-3">
            <label class="form-label">Fecha Publicacion</label>
            <input type="date"
            formControlName="fecha_publicacion"
            [min]="minDate"
            [max]="maxDate"
            class="form-control">
             <span class="error">
         @if(fecha_publicacion?.invalid &&(fecha_publicacion?.dirty || fecha_publicacion?.touched)){
                @if(fecha_publicacion?.errors?.['required']){
                  Fecha publicacion requerida
                }
              }
       </span>
           </div>

            <div class="mb-3">
            <label class="form-label">Fecha Fin</label>
            <input type="date"
            formControlName="fecha_fin"
            [min]="minDate"
            [max]="maxDate"
            class="form-control">
             <span class="error">
         @if(fecha_fin?.invalid &&(fecha_fin?.dirty || fecha_fin?.touched)){
                @if(fecha_fin?.errors?.['required']){
                  Fecha fin requerida
                }
              }
       </span>
           </div>

            <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="active"
              id="checkActive"/>
            <label class="form-check-label" for="checkActive">Active</label>
          </div>


        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" (click)="modalRef.hide()">
            Cancelar
          </button>
          <button (click)="save()" class="btn btn-primary" type="button" [disabled]="formPeliSala.invalid">
            Guardar Asignación
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
